version: 2
registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{ secrets.READER_TOKEN }}
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
    open-pull-requests-limit: 5
  - package-ecosystem: docker
    directory: '/'
    schedule:
      interval: daily
  - package-ecosystem: npm
    directory: '/'
    cooldown:
      default-days: 7
    schedule:
      interval: daily
    # Set to 0 to disable version updates for npm dependencies (does not affect security-updates)
    open-pull-requests-limit: 5
    ignore:
      - dependency-name: "*"
        update-types: [ "version-update:semver-patch" ]
    registries:
      - npm-github
    groups:
      aksel-dependencies:
        patterns:
          - "@navikt/ds-*"
          - "@navikt/aksel-*"
      react-dependencies:
        patterns:
          - 'react'
          - 'react-dom'
          - '@types/react'
          - '@types/react-dom'