.modal-style-override {
  width: auto !important;
  height: auto !important;
}

.v2-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

.v2-content {
  display: block;
  text-align: left;
}

.pacmanloader {
  position: fixed;
  top: 50%;
  left: 50%;
}

.margin-top {
  margin-top: 1rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-bottom-3 {
  margin-bottom: 3rem;
};

.vedleggrad {
  display: flex;
  flex-direction: row;
}

.feil-span {
  font-style: italic;
  color: #BA3A26;
  margin-top: 0.5rem;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.system-preferences {
  & button {
    background-color: #393e46;
  }

  &.sp-panel{
    background-color: green;
  }

  &.sp-input {
    background-color: yellow;
  }
}


