name: Build image
on:
  push:
    branches:
      - "main"
    tags-ignore:
      - "**" # Don't build any tags
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
jobs:
  build:
    name: Build and push docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    outputs:
      image: ${{ steps.docker-push.outputs.image }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 9
      - uses: actions/setup-node@v3
        with:
          node-version: "22"
          registry-url: "https://npm.pkg.github.com"
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Build application
        run: pnpm run build

      - uses: nais/docker-build-push@v0
        id: docker-push
        with:
          team: teamdigisos
          tag: latest
